.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* banner section */
.banner-section {
    max-width: 100%;
    height: 698px;
    background-image: url(Assets/Hero-bg.png);
}

.banner-nav {
    width: 1140px;
    height: 151px;
    margin: 0px auto;
}

ul {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 50px;
    padding-bottom: 50px;

}

.logo {
    font-size: 34px;
    color: #4E47FF;
    font-weight: bolder;
}

.sign-up {
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    width: 132px;
}

.web-flow {
    width: 905px;
    height: 237px;
    justify-content: center;
    margin: 158px auto;
    text-align: center;
}

.web-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    max-width: 905px;
    text-align: center;
    margin-bottom: 37px;
}

.web-button {
    background-color: #4E47FF;
    width: 174px;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    display: inline-block;


}

/* common section of all button */
button:hover {
    background-color: rgb(231, 176, 36);
    font-weight: bold;
    cursor: pointer;
    color: black;
}

/* See It in Action style */

.see-it-in {
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    margin: 116px auto;
}

.see-it-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.see-it-subtitle {
    font-size: 24px;
    color: #8987A1;
    width: 517px;
}

.see-it-button {
    background-color: #4E47FF;
    color: white;
    margin-top: 23px;
    border: none;
    border-radius: 10px;
    width: 229px;
    padding: 12px 36px;
}

.see-it-image img {
    border: none;
    border-radius: 48px;

}

/* Productive Users Section */
.productive-user {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #D6DDED;
    border-radius: 24px;
}

.productive-user-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}

.user {
    display: flex;
    justify-content: space-around;
}

.user-number {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 2px;
    margin-top: 0px;
    text-align: center;
}

.user-title {
    font-size: 20px;
    color: #8987A1;
    margin-bottom: 50px;
}

/* User feedback section style */



/* style end */


/* Let’s Get In Touch Section style */
.get-in-touch {
    width: 100%;
    height: 632px;
    background-color: #e4eafa;
    margin-top: 150px;
}

.main-div {
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;

}

.get-in-title {
    width: 528px;
    height: 282px;
    font-size: 97px;
    font-weight: bold;
    color: black;
    margin-top: 200px;
}


textarea {
    width: 497px;
    height: 135px;
    border: none;
    border-radius: 10px;
    padding: 20px 32px;
}


label,
::placeholder {
    font-size: 12px;
    padding-left: 15px;

}

label {
    font-weight: bold;
}

input {
    /* width: 497px; */
    height: 50px;
    border: none;
    border-radius: 10px;
    /* padding-top: 10px; */
    width: 100%;
    
}
.get-in-button{
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 19px 201px;
    width: 100%;
    margin-top: 19px;

}
/* Footer Section style */
